<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Venda de ingressos</title>
<meta charset="utf-8">
<link rel="icon" type="imagem/png" th:href="@{/img/minilogo.png}" />

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}"
	media="screen,projection" />
<!--style.css-->
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

	<!-- NAVBAR -->
	<header>
		<nav class="pink darken-1">
			<div class="nav-wrapper">
				<div class="row">
					<div class="col s12">
						<a href="#" data-target="sidenav-1"
							class="left sidenav-trigger hide-on-medium-and-up"><i
							class="material-icons">menu</i></a> <strong><a href="#"
							class="brand-logo white-text">Club Dance</a></strong>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<!-- LEFT SIDEBAR-->
	<ul id="sidenav-1" class="sidenav sidenav-fixed">
		<li class="menu-lateral"><a th:href="@{/}"><i
				class="material-icons">home</i>Home</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">confirmation_number</i>Ingresso</a></li>
		<li><a th:href="@{/evento/eventos}"><i class="material-icons">chevron_right</i>Eventos</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">local_bar</i>Bar</a></li>
		<li><a href="#"><i class="material-icons">chevron_right</i>Venda</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">store</i>Estoque</a></li>
		<li><a href="#"><i class="material-icons">chevron_right</i>Consulta</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">content_paste</i>Administração</a></li>
		<li><a href="#"><i class="material-icons">chevron_right</i>Relatórios</a></li>
		<li>
			<div class="divider"></div>
		</li>
	</ul>

	<div class="body-principal">
		<div class="info-evento-venda">
			<div class="row">
				<form th:object="${eventoEntity}">
					<div class="row">
						<div class="input-field col s6">
							<input id="icon_prefix" type="text" class="validate"
								th:field="*{nome}" disabled="disabled"> <label
								for="icon_prefix">Nome</label>
						</div>
						<div class="input-field col s6">
							<input id="icon_prefix" type="text" class="validate"
								th:field="*{local}" disabled="disabled"> <label
								for="icon_prefix">Local</label>
						</div>
						<div class="input-field col s3">
							<input id="icon_prefix" type="text" class="validate"
								th:field="*{data}" disabled="disabled"> <label
								for="icon_prefix">Data</label>
						</div>
						<div class="input-field col s3">
							<input id="icon_prefix" type="text" class="validate"
								th:field="*{horaInicio}" disabled="disabled"> <label
								for="icon_prefix">Inicio</label>
						</div>
						<div class="input-field col s3">
							<input id="icon_prefix" type="text" class="validate"
								th:field="*{horaTermino}" disabled="disabled"> <label
								for="icon_prefix">Término</label>
						</div>
						<div class="input-field col s3">
							<input id="icon_prefix" type="text" class="validate"
								th:field="*{capacidade}" disabled="disabled"> <label
								for="icon_prefix">Capacidade disp.</label>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Venda de ingresso -->

		<div class="info-evento-venda">
			<!-- <div class="row">
				<form th:action="@{/evento/vender-ingresso-cliente}"
					th:object="${clienteEntity}" method="POST">
					<div class="input-field col s6">
						<input id="icon_prefix" type="text" class="validate"
							th:field="*{nome}"> <label
							for="icon_prefix">Nome</label>
					</div>
					<div class="input-field col s6">
						<input id="icon_prefix" type="text" class="validate"
							th:field="*{cpf}"> <label
							for="icon_prefix">CPF</label>
					</div>
					<button class="waves-effect waves-light btn" type="submit">Vender</button>
				</form>
			</div> -->


			<div class="row">
				<form class="col s12" th:action="@{/evento/vender-ingresso-cliente}"
					th:object="${clienteEntity}" method="POST">
					<div class="row">
						<div class="input-field col s6">
							<input type="text" class="validate"> <label
								for="first_name" th:field="*{nome}">First Name</label>
						</div>
						<div class="input-field col s6">
							<input id="last_name" type="text" class="validate"
								th:field="*{cpf}"> <label for="last_name">Last
								Name</label>
						</div>

					</div>
					<button class="waves-effect waves-light btn" type="submit">Vender</button>
				</form>
			</div>




		</div>
	</div>

	<!--JQuery-->
	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
	<!--Moment JS-->
	<script type="text/javascript" th:src="@{/js/moment.js}"></script>


	<script>
		$(document).ready(function() {
			$('.sidenav').sidenav();
			$('#sidenav-1').sidenav({
				edge : 'left'
			});
			$('#sidenav-2').sidenav({
				edge : 'right'
			});
		});
	</script>
</body>

</html>