<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Bar - Selecionar Cliente</title>
<meta charset="utf-8">
<link rel="icon" type="imagem/png" th:href="@{/img/minilogo.png}" />

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}"
	media="screen,projection" />
<!--style.css-->
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

	<!-- NAVBAR -->
	<header>
		<nav class="pink darken-1">
			<div class="nav-wrapper">
				<div class="row">
					<div class="col s12">
						<div class="input-field col s12 right-align">
							<a th:href="@{/bar/inicio}"
								class="waves-effect waves-light btn pink darken-1">Cancelar</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<!-- LEFT SIDEBAR-->
	<ul id="sidenav-1" class="sidenav sidenav-fixed">
		<li class="menu-lateral"><a th:href="@{/}"><i
				class="material-icons">home</i>Home</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">confirmation_number</i>Ingresso</a></li>
		<li><a th:href="@{/evento/eventos}"><i class="material-icons">chevron_right</i>Eventos</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">local_bar</i>Bar</a></li>
		<li><a href="#"><i class="material-icons">chevron_right</i>Venda</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">store</i>Estoque</a></li>
		<li><a th:href="@{/estoque/inicio-estoque}"><i
				class="material-icons">chevron_right</i>Consultar</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">content_paste</i>Administração</a></li>
		<li><a href="#"><i class="material-icons">chevron_right</i>Relatórios</a></li>
		<li>
			<div class="divider"></div>
		</li>
	</ul>

	<div class="body-principal">
		<br>
		<div class="row">
			<div class="detalhes-fornecedor">
				<div th:object="${eventoEntity}">
					<div class="row">
						<br>
						<div class="input-field col s10">
							<input id="icon_prefix" type="text" class="validate"
								th:field="*{nome}" disabled="disabled"> <label
								for="icon_prefix">Nome Evento</label>
						</div>
						<div class="input-field col s2">
							<input id="dataEvento" type="text" class="validate"
								th:field="*{data}" disabled="disabled"> <label
								for="icon_prefix">Data</label>
						</div>
					</div>
				</div>
				<div th:object="${clienteEntity}">
					<div class="row">
						<br>
						<div class="input-field col s10">
							<input id="icon_prefix" type="text" class="validate"
								th:field="*{nome}" disabled="disabled"> <label
								for="icon_prefix">Nome Cliente</label>
						</div>
						<div class="input-field col s2">
							<input id="dataEvento" type="text" class="validate"
								th:field="*{cpf}" disabled="disabled"> <label
								for="icon_prefix">CPF</label>
						</div>
					</div>
				</div>
				<div class="dados-fornecedor">
					<form th:action="@{/bar/vender/selecionar-produto}"
						th:object="${comandaAux}" method="POST">
						<div class="row">
							<div class="input-field col s8">
								<i class="material-icons prefix">account_circle</i> <select
									th:field="*{nomeProduto}">
									<option value="">Selecione...</option>
									<option th:each="p : ${produtos}" th:value="${p.id}"
										th:text="${p.nome}"></option>
								</select> <label>Produto</label>
							</div>
							<div class="input-field col s3">
								<i class="material-icons prefix">gps_fixed</i> <input
									id="icon_prefix" type="number" class="validate"
									th:field="*{qtde}"> <label for="icon_prefix">Quantidade</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<div class="row right-align">
									<button id="btn-svr-evento" type="submit"
										class="waves-effect waves-light btn pink darken-1">
										<i class="material-icons right">border_color</i>Salvar
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!--JQuery-->
	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
	<!--Moment JS-->
	<script type="text/javascript" th:src="@{/js/moment.js}"></script>

	<script>
		$(document).ready(function() {
			$('.sidenav').sidenav();
			$('#sidenav-1').sidenav({
				edge : 'left'
			});
			$('#sidenav-2').sidenav({
				edge : 'right'
			});
		});
		$(document).ready(function() {
			$('select').formSelect();
		});
	</script>
	<script>
		let dateVariavel = document.getElementById('dataEvento');
		var data = new Date(dateVariavel.value);
		var result = data.toISOString().substr(0, 10).split('-').reverse()
				.join('/');
		console.log(result);
		dateVariavel.value = result;
	</script>
</body>

</html>