/* ----------------Tudo---------------- */
header, footer {
	padding-left: 300px;
}

.text-menu-header {
	font-size: 30pt;
}

.menu-lateral {
	padding-top: 2.5%;
}

.body-principal {
	padding-left: 10px;
	margin-left: 290px;
}

.style-table {
	border: 1px solid white;
	box-shadow: 2px 2px 2px 0.5px white;
}
/* ------------------------------------ */


/* ----------------Página inicial---------------- */
#logo {
	margin-top: 30px;
	padding-left: 300px;
	margin-left: 290px;
}

body {
	background: black;
}
/* ---------------------------------------------- */


/* ----------------Estilos dos botões---------------- */
#btn-cad-evento {
	margin-top: 2.3%;
	margin-right: 1%;
}

#btn-svr-evento {
	margin-top: 2.3%;
	margin-right: 2.4%;
}
/* -------------------------------------------------- */


/* ----------------Detalhes venda evento---------------- */
.info-evento-venda {
	background: white;
	width: 49% !important;
	margin-top: 1%;
	margin-left: 1%;
	margin-left: 1% !important;	
}

.form-evento-venda {
	background: white;
	width: 49%;
	margin-top: 1%;
	margin-left: 1%;
	padding-left: 1%;
	margin: 0 auto;
}

.lista-clientes {
	background: white;
	width: 48% !important;
	margin-top: 1%;
	margin-left: 1%;
	margin-left: 1% !important;	
}

#btn-vender-ingresso {
	float: right;
	margin-bottom: 2%;
}
/* ----------------------------------------------------- */