<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Bar - Inicio</title>
<meta charset="utf-8">
<link rel="icon" type="imagem/png" th:href="@{/img/minilogo.png}" />

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}"
	media="screen,projection" />
<!--style.css-->
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

	<!-- NAVBAR -->
	<header>
		<nav class="pink darken-1">
			<div class="nav-wrapper"></div>
		</nav>
	</header>

	<!-- MODAL LOGOUT -->
	<div id="modal-logout" class="modal" style="width: 32%">
		<div class="modal-content">
			<h5>Deseja realmente fazer logout?</h5>
		</div>
		<div class="modal-footer">
			<a th:href="@{/logout}"
				class="modal-close waves-effect waves-green btn-flat">Sim</a> <a
				href="#!" class="modal-close waves-effect waves-green btn-flat">Não</a>
		</div>
	</div>

	<!-- LEFT SIDEBAR-->
	<ul id="sidenav-1" class="sidenav sidenav-fixed">

		<li class="menu-lateral"><a href="#modal-logout"
			class="tooltipped modal-trigger" data-position="bottom"
			data-tooltip="Clique para fazer logout"><i class="material-icons">face</i><span
				class="back-text email" style="text-transform: uppercase;"
				th:utext="${username}"></span></a></li>
		<li>
		<li>
			<div class="divider"></div>
		</li>
		<li class="menu-lateral"><a th:href="@{/}"><i
				class="material-icons">home</i>Home</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">confirmation_number</i>Ingresso</a></li>
		<li><a th:href="@{/evento/eventos}"><i class="material-icons">chevron_right</i>Eventos</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">local_bar</i>Bar</a></li>
		<li><a th:href="@{/bar/inicio}"><i class="material-icons">chevron_right</i>Venda</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">store</i>Estoque</a></li>
		<li><a th:href="@{/estoque/inicio-estoque}"><i
				class="material-icons">chevron_right</i>Consultar</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">attach_money</i>Caixa</a></li>
		<li><a th:href="@{/caixa/inicio-caixa}"><i
				class="material-icons">chevron_right</i>Consultar</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a><i class="material-icons">content_paste</i>Administração</a></li>
		<li><a th:href="@{/administracao/inicio}"><i
				class="material-icons">chevron_right</i>Consultar</a></li>
		<li>
			<div class="divider"></div>
		</li>
	</ul>

	<div class="body-principal">
		<div class="row">
			<div class="col s6 m6" style="margin-top: 40px; margin-left: 240px;">
				<div class="card" style="display: grid;">
					<div class="card-action center black">
						<strong><a class="white-text">Bar</a></strong>
					</div>
					<div class="divider"></div>

					<a th:href="@{/bar/vender/selecionar-evento}"
						class="waves-effect waves-light btn-large pink darken-1"
						style="margin: 2%"><i class="material-icons right">format_align_justify</i>Vender
						Produtos</a>
				</div>
			</div>
		</div>
	</div>

	<!--JQuery-->
	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
	<!--Moment JS-->
	<script type="text/javascript" th:src="@{/js/moment.js}"></script>

	<script>
		$(document).ready(function() {
			$('.sidenav').sidenav();
			$('#sidenav-1').sidenav({
				edge : 'left'
			});
			$('#sidenav-2').sidenav({
				edge : 'right'
			});
		});
		$(document).ready(function() {
			$('select').formSelect();
		});
		$(document).ready(function() {
			$('.tooltipped').tooltip();
		});
		$(document).ready(function() {
			$('.modal').modal();
		});
	</script>
</body>

</html>